---
layout: page
title: Jekyll Theme - Elements Reference - Massively
description: Having a massive list of every element of a theme is useful for quick referencing and ideas. Here is every component of Massively!
sitemap:
    priority: 0.7
    lastmod: 2017-11-02
    changefreq: weekly
---
<header class="major">
		<h1 class="page-title">Comment Policy</h1>
</header>

<main class="main">
				<div class="row">
					<div class="small-12 medium-9 medium-centered columns">
						<div class="article-body">
							<p dir="ltr">We want you to feel at home when you post a comment on here. I want<em> everyone</em> to feel at home posting comments on here. I don’t know what your home is like, but i know how i expect people to behave when they visit ours. That’s why i reserve the right to delete comments and ban users as needed to keep the comment threads here civil and substantive.</p>
	<p>My No. 1 house rule is simple: <strong>Don’t be a jerk</strong>.</p>
	<p>Want to be the kind of commenter we’d love to bring to drink cafe? Here’s what i like to see in comments:</p>
	<ul>
	<li>
	<p dir="ltr"><strong>Weigh in with smart, informed ideas that contribute further to the story.</strong></p>
	</li>
	<li>
	<p dir="ltr"><strong>Give us useful, constructive criticism.</strong> Spot a typo or an error? Let me know and i will correct it.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Demonstrate and share the intelligence, wisdom, and humor i know you possess.</strong></p>
	</li>
	<li><strong>Don’t feed the trolls.</strong>&nbsp;You wouldn’t dive into a debate with our ill-informed, weird uncle Gary just for the heck of it. And you definitely wouldn’t feed him. (We told you he was weird.) Downvote and flag comments instead.</li>
	</ul>
	<p>Although i can’t be everywhere at once, here are some of the kinds of comments I'm going to do our best to curtail:</p>
	<ul>
	<li>
	<p dir="ltr"><strong>Promoting your own brand, product, or blog.</strong> So you’ve got a climate change solution that will simultaneously solve world poverty. Great. Send it through my contact form</a>, you Elon Musk, you.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Impersonating authors or other commenters.</strong> I can’t believe i have to say this, but: Don’t do that. It’s weird.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Comments that make it clear you didn’t read the article.</strong> Enraged that i didn’t mention X in a story about Y? Slow down, Speedy McFingerson. If you’d made it past paragraph two, you’d see a very well thought-out discussion of that X you hold so dear.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Comments that are completely out of left field.</strong> Sometimes discussions veer off a bit, but are still related to the original subject. That is fine. Hijacking the conversation to promote off-topic commentary is not.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Threats — no matter how vague — against the author or other commenters.</strong> Things can get heated. Before you casually mention your foe’s home address, think of your Mother Earth. (Bonus points if you never use the phrase “Mother Earth.”)</p>
	</li>
	<li>
	<p dir="ltr"><strong>Racism, sexism, homophobia, you get the drift.</strong> Call me the PC Police, fine, but don’t say i didn’t warn you when you get tased. **And by tased, i mean banned or deleted. I have not — and will not — ever own a taser, and even if i were to own a solar-charged taser, I’d be too scared to use it.</p>
	</li>
	<li>
	<p dir="ltr"><strong>Trolling.</strong> If you’re a climate denier just out for a good trolling and are not contributing meaningfully to the conversation, I’ll be pushing you back under the bridge.</p>
	</li>
	</ul>
						</div>
					</div>
				</div>
	
			</main>