---
layout: null
title: Bahadır Doğru - Information Technology Blog
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2019-07-22
    changefreq: monthly
---
<!DOCTYPE HTML>
<!--
	Created from | Massively by HTML5 UP | html5up.net | @ajlkn | Jekyll integration by somiibo.com | Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	Repository: https://gitlab.com/bdogru/bdogru.gitlab.io
-->
<html>
	<head>
    {% include head.html %}


	</head>
	
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
            <h1>{{site.title}}</h1>
						<h2></h2><!--  can be picture here -->
						<p>{{site.description}}</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2>Welcome</h2>
									<p>You can find my IT Blog and some notes about tech.</p>
								</header>
								<center class="image main"><img src="https://source.unsplash.com/ieic5Tq8YMk/900x200" /></center>
                				<p>I studied Business Administration in german language, but professionaly i am working in the IT industry.</p>
               					<p>I'm collecting the most useful code snippets or some shell scripts. On various topics on web development and best practices. I'm always creating new topics as well, so please reach out if you'd like to me discuss!</p>
								<p>I provide web development services like magento. If you help with magento, debian based servers or tableau you can contact me.</p>

							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:4 %}
                {% assign mod4 = forloop.index | modulo: 4 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod4 == 0 %}
                  <!-- <article> daha sonra adwords eklerim
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article> -->
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
